# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# Build
build/
/tmp/

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Iconset (temp)
*.iconset/
